html,
body {
  min-height: 100vh;
}

body {
  overflow-wrap: break-word;
}

:lang(ko) {
  word-break: keep-all;
}

img,
video {
  max-width: 100%;
  height: auto;
}

html,
body,
#root,
[class],
[class]::before,
[class]::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

ol[class],
ul[class] {
  list-style: none;
}

a[class] {
  text-decoration: none;
}

button[class],
fieldset[class],
iframe[class],
input[class],
select[class],
textarea[class] {
  border: 0;
}

button[class],
dialog[class],
input[class],
mark[class],
meter[class],
progress[class] {
  background-color: transparent;
}

table[class] {
  border-spacing: 0;
  border-collapse: collapse;
  border: 0;
}

button[class],
input[class],
meter[class],
progress[class],
select[class],
textarea[class] {
  appearance: none;
}
