body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.background {
  width: 500px;
  height: 400px;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRnfoA5I4iAtTPiWMtBnHun28Ey65tVjgjxr9kJQOKyw&s")
    no-repeat center/contain;

  border-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) fill 1;
  /* border-image-source: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); */
  /* border-image-slice: fill 1; */
}

h3 {
  color: white;
  font-size: 32px;

  text-align: center;
  margin: 78px 0;
}

p {
  text-align: center;
  font-size: 24px;
}
